@model LancheListViewModel


<div>
    <h2>
        Categoria Atual
    </h2>
</div>

<div class="container">
    <div class= "row">
        @foreach (var lanches in Model.lanches)
        {
            <partial name="_LancheResumo" for="@lanches" />
        }
    </div>
</div>
