@model CarrinhoCompraViewModel

@if(Model.carrinhoCompra.CarrinhoCompraItens.Count > 0){
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span>
            <img src="~/imagens/cart-5-16.ico">
        </span>
        <span> 
            @Model.carrinhoCompra.CarrinhoCompraItens.Count
        </span>
    </a>
}