<div class="Container">
    <img src='~/imagens/faleconosco1.jpg' alt="Fale conosco"/> 
    <div class="jumbotron">
        <h3>
            Queremos ouvir o que você tem a dizer
        </h3>
        <p>
            Se tiver alguma dúvida ou Sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/imagens/Envelope-icon24.png" />
            </span>
            <h5>
                <email-tag-helpers Endereco="bergfla2010@hotmail.com" conteudo="Enviar um e-mail"></email-tag-helpers>
            </h5>
            <span>
                <img src="~/imagens/phone-app-icon.png"/>
            </span>
            <h5>
                (83) 99199-8956
            </h5>
            <br />
            <span>
                <img src="~/imagens/Home-iconred.png"/> 
            </span>
            <h5>
                Av. Rua da Mariquita, Centro, Campina Grande-PB.
            </h5>
        </p>
    </div>
</div>